<h2 class="text-center title">About Project</h2>
<h4 class="text">This is 'Todo project' created by our team for everyoune who wants control time-management.</h4>
<h5 class="subtext">
    Todo api was created to make your time-management easier then it ever was. With help of this app you can set
    your
    tasks to do, edit them if something had changed, choose the priority of a task and swiftly search them!
</h5>
<h4 class="text">Forget about missing tasks in 2 clicks!</h4>
<h5 class="subtext">Just click 'Create new Todo' and you wouldn't forget anything no more</h5>
<h4 class="text">No more time wasting on unimportant tasks!</h4>
<h5 class="subtext">With this app you can choose priority of your Todo</h5>
<h4 class="text">Powerfull task manager!</h4>
<h5 class="subtext">Just click 'Edit' button and change the name, description and priority of the task!</h5>
<h4 class="text">If you compleated the task you can leave it like a motivation - Cross it like in real note!</h4>
<h4 class="text">Or remove it in one 2 clicks on 'DEL' button...</h4>
<h5 class="subtext">Don't be afraid to delete you Todo by negligence! We took care of you and had prevented random 'DEL'
    clicks. To remove your Todo you have to confirme it.</h5>