.app-todo-header-list-item {

  @media (max-width: 575.98px) {
    margin-bottom: 10px;
  }
}

.is-done {
    text-decoration: line-through;
}

.is-completed {
    text-decoration: line-through;
}

.check-box {
  margin-right: 15px;
  cursor: pointer;
}

.todo-btn-group button:not(:last-child) {
  margin-right: 5px;
}

.todo-description {
  padding: 10px 0px;
}

.todos-item {
  padding: 20px 0;
  margin-bottom: 15px;
  border-radius: 6px;
}

.badge-item {
  width: 60px;
  height: 32px;
  margin-left: 5px;
}

@media (max-width: 575.98px) {
  .app-todo-header-list-item,
  .app-todo-header-btn {
    justify-content: center;
  }
}