<li class="list-group-item todos-item">
    <header class="container">
        <div class="row todo-header">
            <div class="d-flex col-sm-6 col-12 app-todo-header-list-item">
                <i class="material-icons check-box">
                    {{ todo.isDone ? 'check_box' : 'check_box_outline_blank' }}
                </i>

                <h5 [class.is-completed]="todo.isDone">
                    {{todo.title}}
                </h5>
            </div>

            <div class="todo-btn-group col-sm-6 col-12 d-flex justify-content-sm-end app-todo-header-btn">
                <button class="btn btn-primary" [disabled]="!todo.description" (click)="toggleDescription()">
                    {{ isDescriptionShown ? 'Hide details' : 'Show details' }}
                </button>

                <button class="btn btn-danger" (click)="delTodo(todo.id)">del</button>
            </div>
        </div>
    </header>

    <div class="todo-description d-flex justify-content-center" *ngIf="isDescriptionShown">
        {{todo.description}}
    </div>
</li>