<h2 class="text-center">About Us</h2>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
</p>

<div class="row">
    <div *ngFor="let item of userList" class="col-sm-6 col-lg-4">
        <div class="card">
            <img [src]="item.photo" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.description}}
                    <a [href]="'mailto:' + item.email">{{item.email}}</a>
                </p>
                <a [routerLink]="item.id" class="btn btn-primary">More info</a>
            </div>
        </div>
    </div>
</div>