<div class="container">
    <div class="row app-about d-flex justify-content-center">
        <div class="about-title">
            <h2 class="text-center">About Us</h2>
            <p class="text-center">
                Let us introduce the team of Todo project.
            </p>
        </div>
        <div class="row">
            <div *ngFor="let item of userList" class="about-item col-sm-6 col-lg-4">
                <div class="card">
                    <img [src]="item.photo" class="card-img-top">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">{{item.description}}</p>
                            <a [href]="'mailto:' + item.email">{{item.email}}</a>
                        </div>
                        <div>
                            <a [routerLink]="item.id" class="btn btn-primary">More info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>