<div class="app-about">
    <nav class="about-navbar">
        <ul class="nav flex-column">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="about-project">About Project</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="about-us">About Us</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>