.app-about {
    display: flex;

    @media (max-width: 575.98px) {
        flex-direction: column;
    }
}

.about-navbar {
    flex-shrink: 0;
    border-right: 1px solid #c1c1c1;

    @media (max-width: 575.98px) {
        margin-bottom: 10px;
        border-right: none;
        border-bottom: 1px solid #c1c1c1;
    }

    .active {
        text-decoration: underline;
    }
}