<form #newTodoForm="ngForm" class="app-new-todo" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input type="text" name="title" class="form-control" minlength="4" placeholder="Todo title"
            #newTodoTitle="ngModel" (keypress)="keyPressAlphaNumeric($event)" [(ngModel)]="title" required [ngClass]="{
                'is-invalid': newTodoTitle.invalid && isSubmit,
                'is-valid': newTodoTitle.valid && isSubmit
              }">
        <!-- [(ngModel)]="title" required [ngClass]="{
        'is-invalid': newTodoTitle.invalid && (newTodoTitle.dirty || newTodoTitle.touched),
        'is-valid': newTodoTitle.valid && (newTodoTitle.dirty || newTodoTitle.touched)}" -->
        <div class="invalid-feedback" *ngIf="newTodoTitle.errors && isSubmit">
            <span *ngIf="newTodoTitle.errors.required">
                Input is required.
            </span>

            <span *ngIf="newTodoTitle.errors.minlength">
                Todo title must be at least 4 characters long.
            </span>
        </div>
    </div>

    <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="Description" name="description"
            [(ngModel)]="description"></textarea>
    </div>

    <footer>
        <!-- [disabled]="newTodoForm.invalid" -->
        <button class="btn btn-primary" type="submit">
            Create
        </button>
    </footer>
</form>