<form class="app-new-todo" [formGroup]="newTodoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input class="form-control" placeholder="Todo title" type="text" minlength="4" name="title"
            formControlName="title" [ngClass]="{
                'is-invalid': titleControl.invalid && isSubmit,
                'is-valid': titleControl.valid && isSubmit
              }">

        <!-- For tamplate validation -->

        <!-- [(ngModel)]="title" required [ngClass]="{
        'is-invalid': newTodoTitle.invalid && (newTodoTitle.dirty || newTodoTitle.touched),
        'is-valid': newTodoTitle.valid && (newTodoTitle.dirty || newTodoTitle.touched)}" -->

        <!-- [ngClass]="{
            'is-invalid': newTodoTitle.invalid && isSubmit,
            'is-valid': newTodoTitle.valid && isSubmit
          }" -->
        <div class="invalid-feedback" *ngIf="titleControl.errors && isSubmit">
            <span *ngIf="titleControl.errors.required">
                Todo title is required.
            </span>

            <span *ngIf="titleControl.errors.minlength">
                Todo title must be at least 4 characters long.
            </span>
        </div>
    </div>

    <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="Description" name="description"
            formControlName="description"></textarea>
    </div>

    <footer>
        <!-- [disabled]="newTodoForm.invalid" -->
        <button class="btn btn-primary" type="submit">
            Create
        </button>
    </footer>
</form>